@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;

}

header figure {
    background: url(../img/design2-image2.jpg);
    height: 400px;
    background-size: cover;
    background-position: 0px 50%;
    position: relative;
    top: 70px;

}

header h1 {
    position: absolute;
    top: 0px;
    left: 200px;
    font-size: 65px;
    color: brown;
    font-weight: bold;
    font-style: normal;
    text-decoration: underline;
}

nav {
    display: flex;
    flex-direction: row-reverse;
}

nav #home {
    order: 5;
}

nav #about {
    order: 4;
}

nav #game {
    order: 3;
}

nav #rules {
    order: 2;
}

nav #contact {
    order: 1;
}

header a {
    position: relative;
    padding: 10px;
    border: 1px solid black;
    background-color: burlywood;
    text-decoration: none;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    color: black;
    font-weight: bolder;
    border-radius: 20%;

}

a:hover {
    background-color: brown;
    color: aliceblue;
}


.logo {
    position: absolute;
    left: 10px;
    width: 100px;
    top: 10px;
}

h2 {

    text-align: center;
    margin: 3px;
    position: relative;
    left: 40px;
    top: 70px;
    color: brown;
    text-align: center;
    text-decoration: underline;
}

h3 {
    font-weight: bold;
}


figure img {
    position: relative;
    top: 70px;
    left: 17px;
    bottom: 50%;
    max-width: 50%;
    max-height: 50%;
}

#texto {
    position: absolute;
    right: 30px;
    top: 600px;
    bottom: 20px;
    width: 500px;
}

#texto_rules {
    position: absolute;
    left: 10px;
    top: 500px;
    border: 100px;
    padding: 100px;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;

}

#titulo {
    text-align: center;
}

#texto_game {
    position: absolute;
    left: 120px;
    top: 500px;
    border: 100px;
    padding: 100px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
}


#parrafo_game {
    text-decoration: underline;
    font-size: 20px;
}

#tabla {
    display: flex;
    align-items: center;

}

table tr>td {
    height: 40px;
    padding-left: 60px;
}

#titulo_parrafo {
    display: flex;
}

#titulo_parrafo2 {
    display: flex;
    justify-content: space-between;
}
caption{
    text-align: left;
}